/*Predefinidos*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**/

*{
  box-sizing: border-box;
}

/*Estilos generales para elementos concretos*/

button{
  color: white;
  background-color: transparent;
  border: none;
}

button.create-delete{
  background-color: transparent;
  border: none;
  padding: .8rem 1rem;
  box-shadow: 2px 2px 5px black;
}

button:hover{
  cursor:pointer;
}

/* Botones CREAR/GUARDAR */
button.darkblue-button{
  background-color: darkblue;
  color:white;
  border:none;
  border-radius: 5px;
}

button.white-button{
  border:none;
  border-radius: 5px;
  font-weight: bold;
  color: black;
  background-color: white;
}


/**/


header{
  display: flex;
  flex-flow: row;

  justify-content: space-between;
  align-items: center;  /*Alinemaos verticalmente los elementos del header (botones y h2)*/

  padding:.5rem;

  background-color: darkblue;
  color:white
}

header > h2{
  display: inline;
  font-style: italic;
}



header > span{
  display: flex;
}

header > span > button#new{
  background-color: green;
  border:none;
  border-radius: 5px;
  padding:0 1rem;
}

aside{
  position: absolute;
  margin-left:-10rem;
  margin-top:41.8rem;
  background-color: black;

  transition: margin 700ms;
}

header > button#burger-menu:focus ~ aside{
  margin-left:0rem;
}

div.container{
  width: 80%;

  display: flex;
  flex-flow: row wrap;
}

div.container > *{
  width: 100%;
}

div.container > h2{
  text-align: left;
  padding:0 2rem;

  color:darkblue;
}

div.container > section.setting-section{

}

div.container > section.setting-section{
  flex:1;
}

div.container > section > form{
  width: 100%;

  display: flex;
  flex-flow:row wrap;

  padding-right: 5rem;
}

/*Todos los campos del form*/

form > *{
  margin:.5rem;
}

/*Todos los campos del form (inputs) menos el button*/
form > input{
  font-size:1.2rem;
  padding:.5rem;
  border:solid 2px lightgrey;
  border-radius: 5px;

  width: 100%;
}


/*      ----------- BANK ACCOUNTS   -----------*/

div#accounts-container{
  margin:3rem;
  background-color: lightgrey;

  color: darkblue;
  font-weight: bold;
}

div#accounts-container > h2, div#accounts-container > div{
  display: flex;
  justify-content: space-between;
}

div#accounts-container > h2, div#accounts-container > div > form{
  display: flex;
}

/* Inicialmente ocultamos inputs de enviar nueva cuenta */
div#accounts-container > h2, div#accounts-container > div > form > input,
div#accounts-container > h2, div#accounts-container > div > form > button#send-account-name{
  display: none;
}

/* Eliminamos estilos predefinidos indeseados de lista */
div#accounts-container > ul{
  list-style: none;
  padding:0 2rem;
}

div#accounts-container > ul > li{
  display: flex;
  flex-flow: row;

  justify-content: space-between;
}

div#accounts-container > ul > li > p.account-info{
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  flex: .9;
}